[Unit]
Description=SearXNG Meta Search Engine
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker start searxng
ExecStop=/usr/bin/docker stop searxng
Restart=on-failure

[Install]
WantedBy=multi-user.target
